footer.footer
   section.container
      section.footer__wrap
         section.footer__block.footer__block--about
            h3.footer__title About
            p.footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
         section.footer__block.footer__block--contact
            h3.footer__title CONTACT US
            address.footer__content
               section.footer__sub-block.footer__sub-block--location
                  svg.icon.icon--pointer
                     use.icon__item.icon__item--footer(xlink:href="#pointer")
                  span.footer__span 5419 Joseph Mountains #[br] Apt. 716
               section.footer__sub-block.footer__sub-block--mail
                  svg.icon.icon--envelope
                     use.icon__item.icon__item--footer(xlink:href="#envelope")
                  a.footer__link.footer__link--mail(href="mailto:joga.info@example.com") joga.info@example.com
               section.footer__sub-block.footer__sub-block--phones
                  svg.icon.icon--phone
                     use.icon__item.icon__item--footer(xlink:href="#phone")
                  section.footer__spans
                     a.footer__link.footer__link--phones(href="tel:+123456789") +1 234 567 89
                     a.footer__link.footer__link--phones(href="tel:+123567890") +1 234 678 90
               section.footer__sub-block.footer__sub-block--site
                  svg.icon.icon--world
                     use.icon__item.icon__item--footer(xlink:href="#world")
                  a.footer__link.footer__link--site(href="www.example.com") www.example.com
                  
      article.social
         a.social__link(href="#")
            svg.icon.icon--pinterest.social__icon
               use.icon__item.icon__item--footer(xlink:href="#pinterest")
         a.social__link(href="#")
            svg.icon.icon--twitter.social__icon
               use.icon__item.icon__item--footer(xlink:href="#twitter")
         a.social__link(href="#")
            svg.icon.icon--facebook.social__icon
               use.icon__item.icon__item--footer(xlink:href="#facebook")
         a.social__link(href="#")
            svg.icon.icon--google.social__icon
               use.icon__item.icon__item--footer(xlink:href="#google")
         a.social__link(href="#")
            svg.icon.icon--insta.social__icon
               use.icon__item.icon__item--footer(xlink:href="#insta")
                  
article.copyright
   section.container
      span.copyright__text Copyright &nbsp;&copy;&nbsp; 2016-2017 Yoga classes
