footer.footer
   section.container
      section.footer__wrap
         section.footer__block.footer__block--about
            h3.footer__title About
            p.footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
         section.footer__block.footer__block--contact
            h3.footer__title CONTACT US
            section.footer__content
               section.footer__sub-block.footer__sub-block--location
                  span.footer__span.footer__span--location 5419 Joseph Mountains #[br] Apt. 716
               section.footer__sub-block.footer__sub-block--location
                  span.footer__span.footer__span--mail joga.info@example.com
               section.footer__sub-block.footer__sub-block--location
                  section.footer__spans
                     span.footer__span.footer__span--phones +1 234 567 89
                     span.footer__span.footer__span--phones +1 234 678 90
               section.footer__sub-block.footer__sub-block--location
                  span.footer__span.footer__span--site www.example.com
                  
article.copyright
   section.container
      span.copyright__text Copyright &nbsp;&copy;&nbsp; 2016-2017 Yoga classes
