.about-us {
    padding: 125px 0;

    @media screen and (max-width: 1365px) {
        padding: 100px 0;
    }

    &__title {
        font: 30px $OpenSansB;
        color: $lightBlue;
        text-transform: uppercase;
        margin-bottom: 16px;

        @media screen and (max-width: 1365px) {
            font-size: 28px;
            margin-bottom: 12px;
        }

        @media screen and (max-width: 1023px) {
            font-size: 26px;
        }
    }

    &__descrip {
        color: $mediumGray;
        font: 14px/22px $OpenSansR;
    }

    &__data {
        margin-right: 130px;
        padding-top: 14px;

        @media screen and (max-width: 1365px) {
            margin-right: 80px;
        }

        @media screen and (max-width: 1023px) {
            margin-bottom: 40px;
            padding-top: 0;
        }
    }

    &__wrap {
        display: flex;

        @media screen and (max-width: 1365px) {
            padding: 0 30px;
        }

        @media screen and (max-width: 1023px) {
            flex-flow: column nowrap;
            align-items: center;
        }
    }
}
