.about-us {
    padding: 123px 0 125px;

    @media screen and (max-width: 1365px) {
        padding: 100px 0;
    }

    @media screen and (max-width: 1023px) {
        padding: 85px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 60px 0 75px;
    }

    @media screen and (max-width: 579px) {
        padding: 45px 0 60px;
    }

    &__descrip {
        color: $mediumGray;
        font: 14px/22px $OpenSansR;

        @media screen and (max-width: 1023px) {
            font-size: 13px;
            line-height: 20px;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__data {
        margin-right: 130px;
        padding-top: 14px;

        @media screen and (max-width: 1365px) {
            margin-right: 80px;
        }

        @media screen and (max-width: 1023px) {
            margin: 0 0 35px;
            padding-top: 0;
        }

        @media screen and (max-width: 767px) {
            margin: 0 0 30px 0;
        }

        @media screen and (max-width: 579px) {
            margin: 0 0 20px 0;
        }
    }

    &__wrap {
        display: flex;

        @media screen and (max-width: 1365px) {
            padding: 0 30px 0 10px;
        }

        @media screen and (max-width: 1023px) {
            flex-flow: column nowrap;
            align-items: center;
            padding: 0 30px;
        }

        @media screen and (max-width: 767px) {
            padding: 0;
        }
    }
}
