.btn {
    font-family: $OpenSansB;
    color: $white;

    &--form {
        &-trial {
            border-radius: 10px;
            margin-right: -5px;
            align-self: flex-end;
            font-size: 16px;
            padding: 14px 30px;
            min-width: 170px;
            background: $lightBlue;
        }
    }

    &--offer {
        max-width: 170px;
        background: $lightBlue;
        border-radius: 20px;
        padding: 13px 30px;
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
    }
}
