.class {
    display: flex;
    width: 570px;
    background: $white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,.05);
    margin-bottom: 25px;

    @media screen and (max-width: 1365px) {
        width: 485px;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 1023px) {
        width: 540px;
        margin: 0 auto 20px;
    }

    @media screen and (max-width: 767px) {
        width: 460px;
        margin: 0 auto 15px;
    }

    @media screen and (max-width: 579px) {
        flex-flow: column nowrap;
        width: 280px;
    }

    &:first-child {
        .img--class {
            padding-right: 133px;

            @media screen and (max-width: 1023px) {
                padding-right: 55px;
            }

            @media screen and (max-width: 579px) {
                padding-right: 0;
            }
        }
    }

    &:last-child {
        .img--class {
            padding-left: 133px;

            @media screen and (max-width: 1023px) {
                padding-left: 15px;
            }

            @media screen and (max-width: 579px) {
                padding-left: 0;
            }
        }
    }

    &__info {
        padding: 43px 30px 45px;

        @media screen and (max-width: 1365px) {
            padding: 25px 20px;
        }

        @media screen and (max-width: 1023px) {
            padding: 20px 30px 25px;
        }

        @media screen and (max-width: 767px) {
            padding: 15px 20px 20px;
        }

        @media screen and (max-width: 579px) {
            padding: 15px 15px 20px;
        }
    }

    &__title {
        font: 20px $OpenSansB;
        color: $semiGray;
        text-transform: uppercase;
        margin-bottom: 25px;

        @media screen and (max-width: 1365px) {
            font-size: 18px;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    &__descrip {
        font: 14px/22px $OpenSansR;
        color: $mediumGray;
        margin-bottom: 6px;
        max-width: 222px;

        @media screen and (max-width: 1023px) {
            font-size: 13px;
            line-height: 20px;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
        }

        @media screen and (max-width: 579px) {
            max-width: 100%;
        }
    }

    &__span {
        font: 14px/22px $OpenSansR;
        color: $lightGray;

        @media screen and (max-width: 1023px) {
            font-size: 13px;
            line-height: 20px;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}
