.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width: 1365px) {
        width: 1024px;
    }

    @media screen and (max-width: 1023px) {
        width: 768px;
    }

    @media screen and (max-width: 767px) {
        width: 580px;
    }

    @media screen and (max-width: 579px) {
        width: 100%;
    }
}
