.footer {
    background: $lightBlue;
    color: $white;
    padding-bottom: 99px;

    &__wrap {
        padding: 95px 0 24px;
        display: flex;
    }

    &__block {
        width: 50%;

        &--about {
            margin-right: 33px;
        }
    }

    &__title {
        font: 18px $OpenSansB;
        text-transform: uppercase;
        margin-bottom: 51px;
    }

    &__text {
        font: 14px/22px $OpenSansR;
        width: 470px;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__sub-block {
        width: 265px;
        margin-bottom: 22px;
        display: flex;
    }

    &__spans {
        display: flex;
        flex-flow: column nowrap;
    }

    &__span,
    &__link {
        color: $white;
        font: 14px/22px $OpenSansR;
    }
}
