.header {
    padding: 13px 0 9px;

    @media screen and (max-width: 1365px) {
        padding: 10px 0;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        padding-right: 65px;

        @media screen and (max-width: 1365px) {
            padding-right: 45px;
        }

        @media screen and (max-width: 1023px) {
            padding-right: 35px;
        }

        @media screen and (max-width: 767px) {
            padding-right: 30px;
        }

        @media screen and (max-width: 579px) {
            justify-content: space-between;
        }
    }
}
