.img {
    &--class {
        position: absolute;
        height: 100%;
        width: auto;
    }

    &--slider {
        position: absolute;

        @media screen and (max-width: 579px) {
            position: static;
        }
    }

    &--photo {
        height: 100%;
    }

    &--avatar {
        position: absolute;
        width: auto;
    }

    &--benefit {
        &-1 {
            width: 39px;

            @media screen and (max-width: 1365px) {
                width: 37px;
            }

            @media screen and (max-width: 579px) {
                width: 32px;
            }
        }

        &-2 {
            width: 43px;

            @media screen and (max-width: 1365px) {
                width: 41px;
            }

            @media screen and (max-width: 579px) {
                width: 37px;
            }
        }

        &-3 {
            width: 48px;

            @media screen and (max-width: 1365px) {
                width: 46px;
            }

            @media screen and (max-width: 579px) {
                width: 42px;
            }
        }

        &-4 {
            width: 34px;

            @media screen and (max-width: 1365px) {
                width: 32px;
            }

            @media screen and (max-width: 579px) {
                width: 28px;
            }
        }

        &-5 {
            width: 40px;

            @media screen and (max-width: 1365px) {
                width: 38px;
            }

            @media screen and (max-width: 579px) {
                width: 34px;
            }
        }

        &-6 {
            width: 19px;

            @media screen and (max-width: 1365px) {
                width: 17px;
            }

            @media screen and (max-width: 579px) {
                width: 13px;
            }
        }

        &-7 {
            width: 49px;

            @media screen and (max-width: 1365px) {
                width: 47px;
            }

            @media screen and (max-width: 579px) {
                width: 43px;
            }
        }

        &-8 {
            width: 28px;

            @media screen and (max-width: 1365px) {
                width: 26px;
            }

            @media screen and (max-width: 579px) {
                width: 22px;
            }
        }
    }
}
