.nav {
    display: flex;
    align-items: center;

    &__ul {
        display: flex;
        margin-bottom: 7px;
    }

    &__li {
        margin-right: 29px;

        @media screen and (max-width: 1023px) {
            margin-right: 25px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: $deepGray;
        position: relative;
        font: 14px $OpenSansSB;
        transition: color .25s ease-in;

        @media screen and (max-width: 1023px) {
            font-size: 12px;
        }

        &:hover {
            color: $blue;
        }

        &--active {
            color: $blue;

            &:before {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 50%;
                width: 30px;
                height: 1px;
                background: $blue;
                transform: translateX(-50%);
            }
        }
    }
}
