.offer {
    width: 370px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 50px 0 rgba(0,0,0,.1);

    @media screen and (max-width: 1365px) {
        width: 315px;
    }

    @media screen and (max-width: 1023px) {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        width: 580px;
        margin: 0 auto 20px;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    @media screen and (max-width: 579px) {
        flex-flow: column nowrap;
        max-width: 270px;
    }

    &__header {
        background: $lightBlue;
        padding: 27px 0 31px 139px;

        @media screen and (max-width: 1365px) {
            padding: 25px 0 25px 95px;
        }

        @media screen and (max-width: 1023px) {
            padding: 45px 25px 25px 60px;
            align-items: baseline;
            flex: 0 0 auto;
            align-self: stretch;
            display: flex;
        }

        @media screen and (max-width: 767px) {
            padding: 40px 30px 15px 45px;
        }

        @media screen and (max-width: 579px) {
            padding: 15px 20px 15px 40px;
            justify-content: center;
        }
    }

    &__price {
        font: 67px $OpenSansB;
        color: $white;
        position: relative;
        padding-right: 5px;

        @media screen and (max-width: 1365px) {
            font-size: 60px;
        }

        @media screen and (max-width: 1023px) {
            font-size: 50px;
            padding-right: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 42px;
        }

        &:before {
            content: '\0024';
            position: absolute;
            top: 25px;
            left: -46px;
            color: $white;
            transform: scale(.48) translateY(-50%);

            @media screen and (max-width: 1365px) {
                left: -36px;
            }

            @media screen and (max-width: 1023px) {
                top: 20px;
                left: -30px;
            }

            @media screen and (max-width: 767px) {
                top: 16px;
                left: -25px;
            }
        }
    }

    &__duration {
        color: $white;
        font: 18px $OpenSansB;
        text-transform: uppercase;

        @media screen and (max-width: 1365px) {
            font-size: 16px;
        }

        @media screen and (max-width: 1023px) {
            font-size: 14px;
        }

        @media screen and (max-width: 767px) {
            font-size: 13px;
        }
    }

    &__content {
        padding: 44px 72px;

        @media screen and (max-width: 1365px) {
            padding: 40px 55px;
        }

        @media screen and (max-width: 1023px) {
            padding: 25px 25px 25px 40px;
        }

        @media screen and (max-width: 767px) {
            padding: 20px;
        }

        @media screen and (max-width: 579px) {
            padding: 20px 45px;
        }
    }

    &__text {
        color: $mediumGray;
        font: 18px $OpenSansR;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 41px;
        width: 100%;

        @media screen and (max-width: 1365px) {
            font-size: 16px;
            margin-bottom: 38px;
        }

        @media screen and (max-width: 1023px) {
            font-size: 14px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 767px) {
            font-size: 13px;
            margin-bottom: 25px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:not(:last-child):before {
            content: '';
            position: absolute;
            bottom: -22px;
            left: 50%;
            height: 1px;
            width: 99px;
            transform: translateX(-50%);
            background: $preGray;

            @media screen and (max-width: 1023px) {
                bottom: -15px;
            }

            @media screen and (max-width: 767px) {
                bottom: -13px;
                width: 70px;
            }
        }

        &:nth-child(2):before {
            bottom: -18px;

            @media screen and (max-width: 767px) {
                bottom: -15px;
            }
        }
    }
}
