.payment {
    padding: 100px 0 106px;

    @media screen and (max-width: 1365px) {
        padding: 85px 0;
    }

    @media screen and (max-width: 1023px) {
        padding: 75px 0;
    }

    @media screen and (max-width: 579px) {
        padding: 60px 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1023px) {
            flex-flow: column nowrap;
        }
    }
}
