.program {
    padding: 114px 0 100px;

    @media screen and (max-width: 1365px) {
        padding: 85px 0;
    }

    @media screen and (max-width: 1023px) {
        padding: 65px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 55px 0;
    }

    &__wrap {
        margin-bottom: 64px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 1023px) {
            margin-bottom: 40px;
        }
    }
}
