.select {
    width: 100%;
    background: $dimWhite;
    border-radius: 10px;
    padding: 17px 10px;
    max-height: 50px;
    cursor: pointer;

    @media screen and (max-width: 1365px) {
        padding: 15px 10px;
    }

    @media screen and (max-width: 1023px) {
        padding: 14px 10px;
    }

    &--trial {
        margin-bottom: 32px;

        @media screen and (max-width: 1023px) {
            margin-bottom: 25px;
        }
    }

    &__item {
        color: $midGray;
        font: 14px $OpenSansR;

        @media screen and (max-width: 1023px) {
            font-size: 13px;
        }
    }
}
