.slider {
    position: relative;

    &--trainer {
        margin-bottom: 201px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 175px;
        }
    }

    &__item {
        display: flex;

        &--about-us {
            border-radius: 10px;
            width: 570px;
            height: 300px;
            overflow: hidden;
            box-shadow: 4px 4px 15px 1px rgba(0,0,0,.15);
            position: relative;
            justify-content: center;
            align-items: center;
        }

        &--trainer {
            padding: 45px 75px 70px;
            border-radius: 10px;
            box-shadow: 4px 4px 15px 1px rgba(0,0,0,.15);

            @media screen and (max-width: 1365px) {
                padding: 45px 70px 65px;
            }
        }
    }

    &__control {
        position: absolute;
        display: flex;

        &--about-us {
            top: 50%;
            left: -25px;
            width: calc(100% + 50px);
            transform: translateY(-50%);
            justify-content: space-between;
        }

        &--trainer {
            top: 0;
            right: -64px;
            flex-flow: column nowrap;
            justify-content: center;
            height: 100%;
            padding-bottom: 7px;

            @media screen and (max-width: 1365px) {
                right: 15px;
            }
        }

        &--sub {
            top: 50%;
            left: -65px;
            width: 279px;
            transform: translateY(-50%);
            justify-content: space-between;
        }
    }

    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $white;
        cursor: pointer;
        transition: box-shadow .25s ease-in;

        &:hover {
            box-shadow: 0 0 0 2px $lightBlue;
        }

        &--prev {
            transform: rotate(-180deg);
        }

        &--about-us {
            width: 50px;
            height: 50px;
        }

        &--sub {
            width: 29px;
            height: 29px;
        }
    }

    &__avatar {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            border-radius: 50%;
            border: 2px solid $preGray;
        }

        &--main {
            padding-top: 4px;
            margin-right: 57px;

            &:before {
                top: -7px;
                left: -12px;
                width: 148px;
                height: 148px;
            }
        }

        &--sub {
            margin-right: 16px;

            &:before {
                top: -5px;
                left: -5px;
                width: 71px;
                height: 71px;
            }
        }
    }

    &__info {
        padding: 0 43px;
        position: relative;
        max-width: 730px;

        @media screen and (max-width: 1365px) {
            padding: 0 30px 0 40px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 75px;
            width: 2px;
            background: $preGray;
        }
    }

    &__wrap {
        position: relative;

        &--trainer {
            @media screen and (max-width: 1365px) {
                padding: 0 70px 0 30px;
            }
        }
    }

    &__quote {
        color: $mediumGray;
        font: italic 14px/22px $OpenSansI;
        position: relative;
        margin-bottom: 25px;

        @media screen and (max-width: 1365px) {
            margin-bottom: 20px;
        }

        &:before, &:after {
            position: absolute;
            color: $lightBlue;
            font: 60px $OpenSansR;
        }

        &:before {
            content: '\201c';
            top: -16px;
            left: -51px;
        }

        &:after {
            content: '\201d';
            bottom: -60px;
            right: -76px;

            @media screen and (max-width: 1365px) {
                right: -40px;
            }
        }
    }

    &__span {
        display: block;

        &--pos {
            font: 14px/22px $OpenSansR;
            color: $semiGray;

            &-sub {
                font-size: 12px;
                color: $mediumGray;
            }
        }

        &--name {
            font: 16px/22px $OpenSansB;
            color: $lightBlue;

            &-sub {
                font-size: 14px;
                color: $semiGray;
            }
        }
    }

    &__point {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $preGray;
        margin-bottom: 18px;
        position: relative;
        cursor: pointer;
        transition: border-color .25s ease-in;

        &:hover {
            border-color: $lightBlue;
        }

        &--active {
            border-color: $lightBlue;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background: $lightBlue;
            }
        }
    }

    &__subview {
        position: absolute;
        bottom: -30px;
        left: 365px;
        display: flex;
    }

    &__data {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}
