.social {
    display: flex;

    @media screen and (max-width: 579px) {
        justify-content: center;
    }

    &__link {
        cursor: pointer;
        display: flex;

        &:hover {
            .social__icon {
                transform: scale(1.1);
            }
        }

        &:first-child {
            margin-right: 15px;

            @media screen and (max-width: 1023px) {
                margin-right: 12px;
            }
        }

        &:nth-child(2) {
            margin-right: 20px;

            @media screen and (max-width: 1023px) {
                margin-right: 15px;
            }
        }

        &:nth-child(3) {
            margin-right: 24px;

            @media screen and (max-width: 1023px) {
                margin-right: 20px;
            }
        }

        &:nth-child(4) {
            margin-right: 18px;

            @media screen and (max-width: 1023px) {
                margin-right: 16px;
            }
        }
    }

    &__icon {
        transition: transform .25s ease-in;
    }
}
