.subtitle {
    font: 40px $FreestyleR;

    @media screen and (max-width: 1365px) {
        font-size: 38px;
    }
    
    &--page {
        color: $white;
    }

    &--section {
        color: $semiGray;
        text-align: center;
        width: 100%;
        display: inline-block;
    }
}
