.subtitle {
    font: 40px $FreestyleR;

    @media screen and (max-width: 1365px) {
        font-size: 38px;
    }

    @media screen and (max-width: 1023px) {
        font-size: 36px;
        line-height: 36px;
    }

    @media screen and (max-width: 767px) {
        font-size: 32px;
        line-height: 32px;
    }

    &--page {
        color: $white;
    }

    &--section {
        color: $semiGray;
        text-align: center;
        width: 100%;
        display: inline-block;
    }
}
