.title {
    &--form {
        color: $blue;
        font: 26px $OpenSansSB;
        padding-left: 4px;
        margin-bottom: 22px;

        @media screen and (max-width: 1365px) {
            font-size: 24px;
            margin-bottom: 18px;
        }
    }

    &--page {
        color: $white;
        font: 48px/72px $OpenSansB;
        text-transform: uppercase;
        margin-bottom: 25px;

        @media screen and (max-width: 1365px) {
            font-size: 44px;
            line-height: 64px;
        }
    }

    &--section {
        font: 30px $OpenSansB;
        color: $lightBlue;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 9px;

        @media screen and (max-width: 1365px) {
            font-size: 28px;
            margin-bottom: 5px;
        }
    }
}
