extends layout/layout

block title
   title Yoga
   
block content
   article.wrapper
      include includes/header.pug
         
      main.content
         article.preview
            section.container
               section.preview__wrap
                  section.preview__form
                     form.form
                        h2.title.title--form Trial Class
                        section.form__inputs
                           label.label.label--trial.form__item
                              input.input.input--trial(type="text" placeholder="Enter your name")
                           label.label.label--trial.form__item
                              input.input.input--trial(type="tel" placeholder="Enter your phone")
                           section.select.select--trial.form__item
                              span.select__item Chose your class
                           button.btn.btn--form-trial Try it
                  section.preview__title-wrap
                     h1.title.title--page Just Balance <br> your Mind & Body
                     span.subtitle.subtitle--page Create the healthy living <br> for yourself
                     
         article.program
            section.container
               section.program__wrap
                  h2.title.title--section Yoga FEATURE PROGRAM
                  span.subtitle.subtitle--section Our Classes
               section.wrap.wrap--program
                  
                  - const classTitle = ['Yoga For Health', 'Yoga For Lose Weight', 'Yoga For Children', 'Yoga For Elderly'];
                  - for (let i = 0; i < classTitle.length; i++)
                     article.class
                        section.wrap.wrap--img
                           img.img.img--class(src=`../img/class-${i+1}.jpg` alt=`class-${i+1}`)
                        section.class__info
                           h3.class__title=classTitle[i]
                           p.class__descrip Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                           span.class__span Ashtanga - Hatha
