@mixin placeholder($font-size, $font-family, $color) {
    &::placeholder {
        color: $color;
        opacity: 1;
        font: $font-size $font-family, sans-serif;
    }

    &::-ms-placeholder {
        color: $color;
        opacity: 1;
        font: $font-size $font-family, sans-serif;
    }

    &:-ms-input-placeholder {
        color: $color;
        opacity: 1;
        font: $font-size $font-family, sans-serif;
    }

    &:focus:placeholder {
        opacity: 0;
    }

    &:focus::-ms-placeholder {
        opacity: 0;
    }

    &:focus:-ms-input-placeholder {
        opacity: 0;
    }
}
